:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
}

/* ?----------------------GENERAL---------------------- */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-navy-blue);
}

li {
    list-style: none;
}

.btn {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

/* ?----------------------HEADER---------------------- */

.header {
    border-bottom: var(--color-cornflower) solid 1px;
}

.header-container {
    padding: 24px 0;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}

.link {
    text-decoration: none;
}

.logo-sufix {
    color: var(--color-navy-blue);
}

.list {
    list-style: none;
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-item:is(:hover, :focus) {
    color: var(--color-ocean);
}

.address {
    font-style: normal;
}

.address-list-item {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.address-list-item:is(:hover, :focus) {
    color: var(--color-ocean);
}

/* ?----------------------HERO---------------------- */

.hero-container {
    padding: 188px 0;
}

.hero {
    background-color: var(--color-navy-blue);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 48px;
}

.hero-btn {
    background: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--color-ocean);
}

/* ?----------------------STRATEGY---------------------- */

.strategy-container {
    padding: 120px 0;
}

.strategy-title {
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.strategy-list-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    width: 264px;
}

.strategy-list-item-title {
    margin-bottom: 8px;
    font-size: 20px;
    color: var(--color-navy-blue);
}

/* ?----------------------WORK---------------------- */

.work-container {
    padding-bottom: 120px;
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

/* ?----------------------TEAM---------------------- */

.team {
    background-color: var(--color-cloud);
}

.team-container {
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.team-title-list-item {
    background-color: white;
}

.team-title-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.team-title-list-item-role {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/* ?----------------------FOOTER---------------------- */

.footer {
    background-color: var(--color-navy-blue);
}

.footer-container {
    padding: 100px 0;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-iris);
}

.footer-text {
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cornflower);
    width: 264px;
}

.logo-sufix-footer {
    color: var(--color-cloud);
}

/* ?----------------------PORTFOLIO---------------------- */

.portfolio-container {
    padding: 96px 0 120px;
}

.btn-list {
    margin-bottom: 72px;
}

.portfolio-btn-list-item {
    padding: 12px 24px 12px 24px;
    background: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    color: var(--color-iris);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.portfolio-btn-list-item:is(:hover, :focus) {
    background: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: white;
}

.portfolio-list-item-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.portfolio-list-item-subtitle {
    color: var(--color-slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
